In [1]:
import pandas as pd
import mplfinance as mpf

In [6]:
df = pd.read_csv('NIFTY 50 - 1 Day data 2015 to Aug 2024 GO CORONA.csv')
df_5 = pd.read_csv('NIFTY 50 - 5m data 2015 to Aug 2024.csv')

In [7]:
df_2024 = df[(df['year']==2024)]
df_5_2024 = df_5[(df_5['year']==2024)]
df_2024['source']='B'
df_5_2024['source']='A'

/tmp/ipykernel_7598/191917441.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2024['source']='B'
/tmp/ipykernel_7598/191917441.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5_2024['source']='A'

In [8]:
df.head(15)

,Unnamed: 0,high,low,open,close,year,month,day,close_open_diff
0,2015-01-09,8303.00,8191.10,8285.45,8280.25,2015,1,9,-11.10
1,2015-01-12,8332.25,8245.60,8291.35,8326.55,2015,1,12,-19.60
2,2015-01-13,8356.65,8268.15,8346.15,8303.80,2015,1,13,-3.45
3,2015-01-14,8326.30,8236.75,8307.25,8287.75,2015,1,14,-137.45
4,2015-01-15,8526.90,8380.75,8425.20,8461.15,2015,1,15,-92.25
5,2015-01-19,8570.80,8531.70,8553.40,8550.30,2015,1,19,-24.80
6,2015-01-20,8707.75,8574.65,8575.10,8691.25,2015,1,20,-28.40
7,2015-01-21,8741.50,8689.70,8719.65,8728.05,2015,1,21,-17.80
8,2015-01-22,8774.00,8727.15,8745.85,8762.20,2015,1,22,-65.75
9,2015-01-23,8866.15,8795.60,8827.95,8823.55,2015,1,23,-47.80
10,2015-01-27,8924.95,8825.55,8871.35,8904.20,2015,1,27,1.45
11,2015-01-28,8985.05,8874.20,8902.75,8906.80,2015,1,28,5.30
12,2015-01-29,8966.20,8861.65,8901.50,8950.20,2015,1,29,-46.40
13,2015-01-30,8996.60,8775.60,8996.60,8821.45,2015,1,30,18.95
14,2015-02-02,8839.90,8751.45,8802.50,8798.15,2015,2,2,-25.00

In [15]:
merged_df = pd.concat([df_5_2024, df_2024])

merged_df = merged_df.sort_values(by=['month','day', 'source'], ascending=[True,True, True])

merged_df = merged_df.iloc[1:-1,:]

merged_df

,Unnamed: 0,high,low,open,close,year,month,day,hour,minute,source,close_open_diff
1476,2024-01-01,21834.35,21680.85,21727.75,21689.45,2024,1,1,NaN,NaN,B,-61.90
2222,2024-01-02,21755.60,21699.15,21751.35,21722.95,2024,1,2,9.0,15.0,A,NaN
1477,2024-01-02,21755.60,21555.65,21751.35,21661.50,2024,1,2,NaN,NaN,B,0.40
2223,2024-01-03,21677.00,21594.45,21661.10,21617.05,2024,1,3,9.0,15.0,A,NaN
1478,2024-01-03,21677.00,21500.35,21661.10,21523.70,2024,1,3,NaN,NaN,B,-82.10
...,...,...,...,...,...,...,...,...,...,...,...,...
2382,2024-08-26,24917.30,24874.70,24906.10,24887.45,2024,8,26,9.0,15.0,A,NaN
1637,2024-08-26,25043.80,24874.70,24906.10,25011.45,2024,8,26,NaN,NaN,B,-13.35
2383,2024-08-27,25037.70,24988.00,25024.80,25021.45,2024,8,27,9.0,15.0,A,NaN
1638,2024-08-27,25073.10,24973.65,25024.80,24997.05,2024,8,27,NaN,NaN,B,-33.75
2384,2024-08-28,25048.15,25000.35,25030.80,25041.45,2024,8,28,9.0,15.0,A,NaN

In [28]:
import os
from datetime import datetime

In [31]:
# df_60_min = pd.DataFrame()

for i in range(0, len(merged_df)-1, 2):
    df_chunk = merged_df.iloc[i:i+2] # Get 2 rows in each iteration
    directory_path = f"{os.getcwd()}/gap_vs_first_candle/{str(df_chunk['year'].iloc[0])}_{str(df_chunk['month'].iloc[0])}"
    if not os.path.exists(directory_path):
        os.makedirs(directory_path)
    ohlc =  pd.DataFrame({
        'open':[df_chunk['open'].iloc[-1]],
        'high':[df_chunk['high'].iloc[-1]],
        'low':[df_chunk['low'].iloc[-1]],
        'close':[df_chunk['close'].iloc[-1]],
    })
    ohlc.index = pd.to_datetime([f"{int(df.iloc[-1].year)}-{int(df.iloc[-1].month)}-{int(df.iloc[-1].day)}"])
    mpf.plot(ohlc, type='candle', style='charles', title=f'{df_chunk["close_open_diff"].iloc[0]}', ylabel='Price', savefig=os.path.join(directory_path,str(df_chunk['day'].iloc[-1])))

ValueError: If using all scalar values, you must pass an index