In [8]:
import pandas as pd
import mplfinance as mpf

In [9]:
df = pd.read_csv('NIFTY 50 - 1 Day data 2015 to Aug 2024 GO CORONA.csv')
df_5 = pd.read_csv('NIFTY 50 - (2m-3m) data 2015 to Aug 2024.csv')

In [10]:
df_2024 = df[(df['year']==2024)]
df_5_2024 = df_5[(df_5['year']==2024)]
df_2024['source']='B'
df_5_2024['source']='A'

/tmp/ipykernel_18368/191917441.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2024['source']='B'
/tmp/ipykernel_18368/191917441.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5_2024['source']='A'

In [11]:
df.head(15)

,Unnamed: 0,high,low,open,close,year,month,day,close_open_diff
0,2015-01-09,8303.00,8191.10,8285.45,8280.25,2015,1,9,-11.10
1,2015-01-12,8332.25,8245.60,8291.35,8326.55,2015,1,12,-19.60
2,2015-01-13,8356.65,8268.15,8346.15,8303.80,2015,1,13,-3.45
3,2015-01-14,8326.30,8236.75,8307.25,8287.75,2015,1,14,-137.45
4,2015-01-15,8526.90,8380.75,8425.20,8461.15,2015,1,15,-92.25
5,2015-01-19,8570.80,8531.70,8553.40,8550.30,2015,1,19,-24.80
6,2015-01-20,8707.75,8574.65,8575.10,8691.25,2015,1,20,-28.40
7,2015-01-21,8741.50,8689.70,8719.65,8728.05,2015,1,21,-17.80
8,2015-01-22,8774.00,8727.15,8745.85,8762.20,2015,1,22,-65.75
9,2015-01-23,8866.15,8795.60,8827.95,8823.55,2015,1,23,-47.80
10,2015-01-27,8924.95,8825.55,8871.35,8904.20,2015,1,27,1.45
11,2015-01-28,8985.05,8874.20,8902.75,8906.80,2015,1,28,5.30
12,2015-01-29,8966.20,8861.65,8901.50,8950.20,2015,1,29,-46.40
13,2015-01-30,8996.60,8775.60,8996.60,8821.45,2015,1,30,18.95
14,2015-02-02,8839.90,8751.45,8802.50,8798.15,2015,2,2,-25.00

In [12]:
merged_df = pd.concat([df_5_2024, df_2024])

merged_df = merged_df.sort_values(by=['month','day', 'source'], ascending=[True,True, True])

merged_df = merged_df.iloc[2:-1,:]

merged_df

,year,month,day,date,date.1,open,high,low,close,volume,...,difference,candle_body,high_shadow,low_shadow,low-open,high-open,trend,source,Unnamed: 0,close_open_diff
1476,2024,1,1,NaN,NaN,21727.75,21834.35,21680.85,21689.45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,2024-01-01,-61.90
4444,2024,1,2,2024-01-02 09:16:00+05:30,2024-01-02 09:16:00+05:30,21719.40,21729.80,21716.65,21728.15,0.0,...,13.15,-8.75,1.65,-2.75,-2.75,10.40,DOWN,A,NaN,NaN
4445,2024,1,2,2024-01-02 09:17:00+05:30,2024-01-02 09:17:00+05:30,21727.05,21727.20,21716.00,21716.60,0.0,...,11.20,10.45,0.15,-0.60,-11.05,0.15,UP,A,NaN,NaN
1477,2024,1,2,NaN,NaN,21751.35,21755.60,21555.65,21661.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,2024-01-02,0.40
4446,2024,1,3,2024-01-03 09:16:00+05:30,2024-01-03 09:16:00+05:30,21615.10,21620.20,21609.90,21615.75,0.0,...,10.30,-0.65,4.45,-5.20,-5.20,5.10,DOWN,A,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4766,2024,8,27,2024-08-27 09:16:00+05:30,2024-08-27 09:16:00+05:30,24995.40,25008.20,24995.40,25003.85,0.0,...,12.80,-8.45,4.35,0.00,0.00,12.80,DOWN,A,NaN,NaN
4767,2024,8,27,2024-08-27 09:17:00+05:30,2024-08-27 09:17:00+05:30,25006.55,25030.90,25004.60,25030.90,0.0,...,26.30,-24.35,0.00,-1.95,-1.95,24.35,DOWN,A,NaN,NaN
1638,2024,8,27,NaN,NaN,25024.80,25073.10,24973.65,24997.05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,2024-08-27,-33.75
4768,2024,8,28,2024-08-28 09:16:00+05:30,2024-08-28 09:16:00+05:30,25024.95,25044.15,25024.95,25038.15,0.0,...,19.20,-13.20,6.00,0.00,0.00,19.20,DOWN,A,NaN,NaN
4769,2024,8,28,2024-08-28 09:17:00+05:30,2024-08-28 09:17:00+05:30,25039.85,25045.25,25031.50,25037.85,0.0,...,13.75,2.00,5.40,-6.35,-8.35,5.40,UP,A,NaN,NaN

In [13]:
import os
from datetime import datetime

In [15]:
# df_60_min = pd.DataFrame()

for i in range(0, len(merged_df)-1, 3):
    df_chunk = merged_df.iloc[i:i+3] # Get 2 rows in each iteration
    close_open_diff = df_chunk["close_open_diff"].iloc[0]
    if close_open_diff < -30 or close_open_diff > 20:
        directory_path = f"{os.getcwd()}/gap_vs_2m_3m_candle/{str(df_chunk['year'].iloc[0])}_{str(df_chunk['month'].iloc[0])}"
        if not os.path.exists(directory_path):
            os.makedirs(directory_path)
        ohlc =  df_chunk.iloc[1:i+3]
        ohlc.index = pd.to_datetime([f"{int(df.iloc[-1].year)}-{int(df.iloc[-1].month)}-{int(df.iloc[-1].day)}"] * 2)

        mpf.plot(ohlc, type='candle', style='charles', title=f'{close_open_diff}', ylabel='Price', savefig=os.path.join(directory_path,str(df_chunk['day'].iloc[-1])))